.skills-section {
    padding: 5rem;
    background: rgb(240, 238, 238);
}

.skills-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 8rem;
}

.skill-item {
    background: white;
    padding: 25px;
    border-radius: 7px;
}

.skill-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-name {
    font-size: 23px;
}

.skill-percent {
    font-size: 23px;
    color: var(--color-primary);
}

.skill-progress {
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
    height: 100%;
    width: 0;
    border-radius: 10px;
    transition: width 1s ease-out;
}

.skill-bar {
    background: #e2e8f0;
    border-radius: 10px;
    height: 12px;
    margin-top: 12px;
    overflow: hidden;
}

.skill-progress.animate {
    width: var(--progress-width);
}

/* Mobile */
@media (max-width: 768px) {
    .skills-section {
        padding: 2rem;
    }

    .skills-grid {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }
}